mixin sForm()
	// start sForm
	+b.SECTION.sForm.section.bg-wrap#sForm&attributes(attributes)
		+img("img/form-bg.jpg",'bg').picture-bg.d-none.d-sm-block
		.container
			+b.section-title.text-center 
				h2 Оставить заявку
				p.text-primary Оценим ваш автомобиль в&nbsp;кратчайшие сроки
			+form("Отправить")
			+e.text Вы&nbsp;также можете позвонить нам по&nbsp;телефону: #[a(href="tel:+7(985)088-51-11") +7 (985) 088-51-11] или воспользоваться быстрой кнопкой WhatsApp
			+e.btn(href="#").btn-js
				+img("img/svg/whatsapp2.svg")
				| Оценить онлайн
	// end sForm