:root {
	--fancybox-content-bg: none;
}

@media (min-width: 1024px) {

	.fancybox__slide {
		// padding: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
@include media-breakpoint-down(sm){

	.fancybox__slide{
		padding-left: 0;
		padding-right: 0;
		background-color: #fff;
		&::before,
		&::after{
			display: none;
		}
	}
}
	.fancybox__content {
		padding: 0;
	max-width: 100%;
}
@include media-breakpoint-down(sm) {
	.carousel__button{
		svg{
			filter: none;
			stroke: #E2E2E2;
		}
	}
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(470);
	// min-height: 100%; 
	@include media-breakpoint-up(sm) {

		padding: rem(60px);
		border-radius: 15px;
	} 
	padding: rem(60) rem(20px);
	background: #FFFFFF;
	.form-wrap{
		
		&__title{
			font-weight: bold;
			@include rfs(30px);
			margin-bottom: rem(10);
		}
	}

	.after-headline{
		color: $primary;
		font-weight: bold;
		margin-bottom: rem(30);
	}
	.form-wrap{
		&__input-wrap{
			margin-bottom: rem(15);
		}

		&__btn{
			margin-top: rem(30);
			margin-bottom: rem(30);
		}
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

#modal-thanks{
	.form-wrap__title{
		margin-left: -20px;
		margin-right: -20px;
	}
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}