// start .headerBlock
.headerBlock {
	// margin-bottom: 1px;
	// max-height: 694px;
	// min-height: calc(100vh - 80px);
	margin-top: var(--topH);
	display: flex;
	flex-direction: column;
	justify-content: center;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;
 h1{
	font-weight: bold;
	margin-bottom: rem(15);
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
	@include media-breakpoint-up(lg) {

		margin-right: em(-9);
	}
	line-height: 1.25;
 }
 p{
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
	color: $primary;
	font-weight: bold;
	font-size: rem(20px);
	margin-bottom: rem(30);
 }
 &__col{
	display: flex;
	align-items: center;
	font-size: rem(14px);
	img{
		margin-right: rem(10);
		flex:  0 0 auto;

	}
 }
 &__row-sm{
	@include media-breakpoint-up(lg) {

		margin-right: rem(-60);
	}
	--bs-gutter-y: 23px;
	margin-bottom: rem(44);
 }
 &__col-lg{
	position: relative;
	z-index: 2;
 }

 &__img-wrap{
	position: relative;
	min-height: 100%;
	@include media-breakpoint-down(sm) {
		.main-img{
			margin-top: 30px;
			max-width: 100%;
			height: auto;
		}
	}
 }
 
	@include media-breakpoint-up(xxl) {
		--sPT: #{rem(105)};
		--sPB: #{rem(100)};
	}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.rew-block{
	margin-left: auto;
	border-radius: 15px;
	@include media-breakpoint-down(sm) {
		margin-left: rem(-15);
		margin-right: rem(-15);
	}
	padding: rem(20) rem(15) 0;
	@include media-breakpoint-up(sm) {
		padding: rem(30);
		
		background: rgba($color: #FFFFFF, $alpha: .97);
		box-shadow: 0px 0px 35px rgba(37, 37, 37, 0.05);
		max-width: rem(300);
		position: absolute;
		right: 0;
		bottom: rem(-15);
	}
	&__text{
		strong{

			font-weight: 600;
		}
		font-size: rem(14);
	}
	.btn{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		height: rem(60);
		img{
			flex: 0 0 auto;
			margin-right: rem(10);
		}
		--bs-btn-border-width: 1px;
	}
}