mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Выкупаем проблемные автомобили
				p Для начала нужно разобраться что это такое. Проблемным авто в&nbsp;простонародии называют транспортные средства с&nbsp;техническими и&nbsp;юридическими проблемами. Как правило такое авто гораздо сложнее продать и&nbsp;поэтому владельцы таких машин предпочитают не&nbsp;заморачиваться с&nbsp;продажей лично. Тут-то наша компания и&nbsp;приходит на&nbsp;помощь!
				p.text-primary  Автомобили с&nbsp;какими проблемами мы&nbsp;скупаем:
			ol
				li: span Автомобили находящиеся под арестом
				li: span Кредитные автомобили
				li: span Автомобили имеющие проблемы с&nbsp;учетом
				li: span Автомобили с&nbsp;запретом на&nbsp;регистрационные действия
				li: span Автомобили после ДТП
				li: span Автомобили находящиеся под залогом
				li: span Технически неисправные автомобили
				li: span Автомобили без ПТС
	// end sSteps